# Archivos de Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Archivos de entorno
.env
.env.*

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos del sistema MacOS
.DS_Store

# Configuración de VSCode
.vscode/

# Archivos de log o temporales
*.log
*.tmp
